<div class="grid gap-8 justify-center px-6 py-12 text-2xl leading-relaxed md:px-10 bg-dark-5 text-light-1">
    <h3 class="text-5xl font-bold text-center">How it works</h3>
    <div class="grid gap-4 items-start text-center md:grid-cols-3 max-w-[1024px]">
        <div class="grid gap-1">
            <div class="text-5xl">📆</div>
            <p>set a deadline for all tasks</p>
        </div>
        <div class="grid gap-1">
            <div class="text-5xl">✅</div>
            <p>complete before deadline</p>
        </div>
        <div class="grid gap-1">
            <div class="text-5xl">🫥</div>
            <p>tasks automatically clear after deadline</p>
        </div>
    </div>
</div>
<div class="absolute left-1/2 p-2 rounded-full -translate-x-1/2 -translate-y-1/2 bg-light-1">
    <img class="w-14" src="/ruthlessTodoListLogo.svg" />
</div>
<div class="grid gap-6 justify-center px-6 py-12 text-2xl leading-relaxed md:px-10 bg-light-1 text-dark-5">
    <h3 class="text-5xl font-bold text-center">Benefits</h3>
    <ul class="grid gap-4 max-w-[1024px]">
        <li class="flex flex-row gap-4 justify-start"><div>✨</div> <div><strong>Embrace Intentional Task Management</strong>: By enforcing the strict deadline rule, you'll become more intentional about what tasks you add to your list. Say goodbye to the endless stream of random tasks and hello to purposeful action aligned with your goals.</div></li>
        <li class="flex flex-row gap-4 justify-start"><div>✨</div> <div><strong>Power of Loss Aversion</strong>: It's the tendency to prefer avoiding losses over acquiring gains. With Ruthless To Do List, you'll naturally prioritize taking action to avoid losing tasks, leading to increased productivity and momentum.</div></li>
        <li class="flex flex-row gap-4 justify-start"><div>✨</div> <div>No more wasted mental energy on tasks that aren't urgent or important.</div></li>
    </ul>

    <p>Ready to take control of your to-do list and supercharge your productivity?</p>
    <p><a class="underline text-main" href="https://play.google.com/store/apps/details?id=com.ruthlesstodolist">Download Ruthless To Do List now</a></a> and start achieving your goals with ruthless efficiency.</p>
</div>