---
import Description from "./components/Description.astro";
import Footer from "./components/Footer.astro";
import Head from "./components/Head.astro";
import MainTeaser from "./components/MainTeaser.astro";
import Navigation from "./components/Navigation.astro";
---

<html lang="en">
    <head>
        <Head />
        <title>Ruthless To Do List</title>
    </head>
    <body class="bg-light-1 text-dark-5">
        <Navigation />
        <MainTeaser />
        <Description />
        <Footer />
    </body>
</html>
