---
import Footer from "./components/Footer.astro";
import Head from "./components/Head.astro";
import Navigation from "./components/Navigation.astro";
---

<html lang="en">
    <head>
        <Head />
        <title>Privacy Policy - Ruthless To Do List</title>
    </head>
    <body class="bg-light-1 text-dark-5">
        <Navigation/>
        <div class="grid gap-4 p-6 text-xl md:p-10 max-w-[1024px]">
            <h1 class="text-5xl">Terms and Conditions for Ruthless To Do List</h1>
            <p class="text-dark-3">Last Updated: April 16, 2024</p>
            <p>Welcome to Ruthless To Do List! These Terms and Conditions govern your use of the Ruthless To Do List app. By accessing or using the app, you agree to comply with and be bound by these Terms and Conditions.</p>

            <h2 class="text-2xl">1. Acceptance of Terms</h2>
            <p>By downloading, installing, or using Ruthless To Do List, you agree to these Terms and Conditions. If you do not agree with any part of these terms, please do not use the app.</p>

            <h2 class="text-2xl">2. License</h2>
            <p>Ruthless To Do List grants you a limited, non-exclusive, non-transferable, revocable license to use the app for your personal, non-commercial use only. You may not sublicense, sell, or distribute the app.</p>

            <h2 class="text-2xl">3. User Responsibilities</h2>
            <p>You are responsible for maintaining the confidentiality of any login credentials or access codes associated with the app. You agree to use the app in compliance with all applicable laws and regulations.</p>

            <h2 class="text-2xl">4. Intellectual Property</h2>
            <p>All content, features, and functionality of Ruthless To Do List, including but not limited to text, graphics, logos, and images, are the property of Ruthless To Do List or its licensors and are protected by copyright, trademark, and other intellectual property laws.</p>

            <h2 class="text-2xl">5. Limitation of Liability</h2>
            <p>Ruthless To Do List is provided "as is" without any warranties, express or implied. We shall not be liable for any damages, including but not limited to direct, indirect, incidental, or consequential damages, arising out of or in connection with your use or inability to use the app.</p>

            <h2 class="text-2xl">6. Changes to Terms and Conditions</h2>
            <p>We reserve the right to modify or update these Terms and Conditions at any time without prior notice. Your continued use of the app after any changes to these Terms and Conditions constitutes acceptance of those changes.</p>

            <h2 class="text-2xl">7. Termination</h2>
            <p>We reserve the right to terminate or suspend your access to the app without prior notice for violating these Terms and Conditions or for any other reason.</p>

            <h2 class="text-2xl">8. Governing Law</h2>
            <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of Spain, without regard to its conflict of law principles.</p>

            <h2 class="text-2xl">9. Contact Us</h2>
            <p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at:</p>

            <p>Email: <a class="underline text-main" href="mailto:ruthlesstodolist@czino.de">ruthlesstodolist@czino.de</a></p>
        </div>
        <Footer />
    </body>
</html>
